

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


td,
th {
  width: 25%;
}

.actions {
  flex: 0 0 85px;

}

.action-column {
  flex: 0 0 125px;
  justify-content: center;
}


.action-column-header {
  margin: 0 auto;
}

mat-form-field {
  padding: 14px 15px 1px 0px !important
}

.mat-mdc-header-cell {
  border-bottom-style: none;
}
