mat-card {
  max-width: 100%;
  margin: 2em auto;

}

.toolbar-lesson {
  background-color: var(--mdc-filled-text-field-container-color);
  justify-content: space-between;
}

mat-card-actions {
  justify-content: center;
}

mat-form-field {
  width: 100%;
}
.form-arry-error{
 justify-content: left;

}
mat-card-header {
  background: #7b1fa2;
  color: white;
  margin: 0px 0px 10px 0;
  align-items: center;
}

mat-card-title-group {
  margin: 0px 0px 10px 0;
}

@media (max-width: 559px) {
  .container div {
    max-width: 375px;
    flex-wrap: wrap !important;
    display: contents !important;
    justify-content: space-between;
    padding: 0 0 0 7px;

  }
  mat-form-field {
    width: 85%;
  }
  mat-card-header {
    width: 85%;
    background: #7b1fa2;
    color: white;
    margin: 0px 0px 10px 0;
    align-items: center;
  }
  mat-card-title-group {
    width: 85%;
    margin: 0px 0px 10px 0;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    padding: 0 !important;
    display: contents;
    width: 102%;

  }
}

@media (min-width: 600px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
    flex-wrap: wrap !important;
    width: 102%;
    justify-content: space-between;
    padding: 0 0 0 7px;
    display: contents !important;
  }
}

// .mat-mdc-form-field-flex {
//   display: inline-flex;
//   align-items: baseline;
//   box-sizing: border-box;
//   width: 100%;
// }
// table {
//   margin: 20px 0 0px 0px;

// }

// form {
//   display: flex;
//   flex-direction: column;

// }

// form,
// full-with {
//   width: 100%;

// }

// .min-width {
//   width: 100%;
//   min-width: 150px;
// }

// mat-toolbar {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

// }

// mat-toolbar button {
//   align-content: flex-end;
// }


// mat-error,
// mat-hint {
//   font-size: medium;
// }

// mat-card-actions {
//   justify-content: center;
//   align-items: end;
// }

// .button-actions {
//   margin-right: 20px;
// }

mat-icon,
mat-hint {
  color: white;
}
