<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title-group color="primary">
      <mat-card-title>Detalhes do Curso</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <form [formGroup]="form">
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          formControlName="name"
          required
          #name
        />

        <mat-hint align="end">{{ name.value.length || 0 }} / 200</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid | json"
          >{{ baseFormService.getErrorMessage(form, "name") }}
        </mat-error>
      </mat-form-field>
      <p></p>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(value)]="category" formControlName="category">
          <mat-option *ngFor="let cate of categories" [value]="cate.name">
            {{ cate.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.invalid">{{
          baseFormService.getErrorMessage(form, "category")
        }}</mat-error>
      </mat-form-field>

      <mat-toolbar class="toolbar-lesson">
        <span>Aulas</span>
        <button mat-mini-fab color="accent" (click)="onAddLesson()">
          <mat-icon aria-label="Adicione uma novaa aula">add</mat-icon>
        </button>
      </mat-toolbar>
      <p></p>
      <mat-error
        *ngIf="baseFormService.isFormArrayRequiredLesson(form, 'lessons')"
        class="form-arry-error"
        >Adicione pelo menos uma Aula
      </mat-error>
      <div
        class="container flex-wrap"
        formArrayName="lessons"
        style="padding: 0"
        *ngFor="let lesson of getLessonsFromArray(); let i = index"
      >

        <div [formGroupName]="i" class="row">
          <div class="col-7">
            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" required #name />
              <mat-error
                *ngIf="lesson.get('name')?.invalid"
                class="form-arry-error"
                >{{
                  baseFormService.getFormArrayFieldErrorMessage(
                    form,
                    "lessons",
                    "name",
                    i
                  )
                }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>URL</mat-label>
              <span matPrefix>https://youtu.be/&nbsp;</span>
              <input
                type="text"
                matInput
                formControlName="youtubeUrl"
                required
                #youtubeUrl
              />
              <mat-icon matSuffix>link</mat-icon>
              <mat-error
                *ngIf="lesson.get('youtubeUrl')?.invalid"
                class="form-arry-error"
                >{{
                  baseFormService.getFormArrayFieldErrorMessage(
                    form,
                    "lessons",
                    "youtubeUrl",
                    i
                  )
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <button mat-mini-fab (click)="onRemoveLesson(i)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <table>
        <tr>
          <td>
            <button
              mat-raised-button
              color="primary"
              (click)="onSubmit()"
              style="margin-right: 10px"
            >
              Salvar
            </button>
          </td>
          <td>
            <button mat-raised-button (click)="onCancel()">Cancelar</button>
          </td>
        </tr>
      </table>
    </mat-card-actions>
  </form>
</mat-card>
