<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Detalhes do Curso</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          formControlName="name"
          required
          #name
        />
        <mat-error *ngIf="form.get('name')?.invalid | json"
          >{{ getErrorMessage("name") }}
        </mat-error>

        <mat-hint align="end">{{ name.value.length || 0 }} / 200</mat-hint>
      </mat-form-field>
      <p></p>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(value)]="category">
          <mat-option *ngFor="let cate of categories" [value]="cate.name">
            {{ cate.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.invalid">{{
          getErrorMessage("category")
        }}</mat-error>
      </mat-form-field>

      <mat-toolbar class="toolbar-lesson">
        <span>Adicionar uma nova aula</span>
        <button mat-icon-button (click)="onAddLesson()" color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
      <p></p>

      <div
        class="container flex-wrap"
        formArrayName="lessons"
        style="padding: 0"
        *ngFor="let lesson of getLessonsFromArray(); let i = index"
      >
        <div [formGroupName]="i" class="row">
          <div class="col-8">
            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" required #name />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>URL</mat-label>
              <span matPrefix>https://youtu.be/&nbsp;</span>
              <input
                type="text"
                matInput
                formControlName="youtubeUrl"
                required
                #youtubeUrl
              />
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--
      <table
        formArrayName="lessons"
        *ngFor="let lesson of getLessonsFromArray(); let i = index"
      >
        <tr [formGroupName]="i">
          <td style="width: 70%">
            <mat-form-field class="mat-mdc-form-field-flex">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" required #name />
            </mat-form-field>
          </td>
          <td style="width: 60%">
            <mat-form-field class="full-width" style="margin-left: 20px">
              <mat-label>URL</mat-label>
              <span matPrefix>https://youtu.be/&nbsp;</span>
              <input
                type="text"
                matInput
                formControlName="youtubeUrl"
                required
                #youtubeUrl
              />
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </td>
        </tr>
      </table> -->
    </form>
  </mat-card-content>
  <mat-card-actions>
    <table>
      <tr>
        <td>
          <button
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
            style="margin-right: 10px"
            disabled="{{ form.invalid ? true : false }}"
          >
            Salvar
          </button>
        </td>
        <td>
          <button mat-raised-button (click)="onCancel()">Cancelar</button>
        </td>
      </tr>
    </table>
  </mat-card-actions>
</mat-card>
