@import "node_modules/bootstrap/scss/bootstrap";
@use '@angular/material' as mat;
@include mat.typography-hierarchy();

html,
body {
  height: 100%;
  background-color: #424242;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field-icon-prefix, p {
  color: white;
}
