@use "@angular/material" as mat;
@use "./m3-theme";

@include mat.core();

html {
  height: 100%;
  // Apply the light theme by default
  @include mat.core-theme(m3-theme.$dark-theme);
  @include mat.button-theme(m3-theme.$dark-theme);

}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--bs-body-color);
}

