<mat-card>
  <mat-card-header color="primary">
    <mat-card-title>Courses Available</mat-card-title>
    <button mat-mini-fab aria-label="Adicionar curso" color="accent">
      <mat-icon (click)="onAdd()">add</mat-icon>
    </button>
  </mat-card-header>

    <mat-card-content >

      <app-courses-list class="column-flex mat-elevation-z8"
      [dataSource]="dataSource" (edit)="onEdit($event)"
        (remove)="onDelete($event)"
        (applyFilter)="applyFilter($event)"
        [paginator]="paginator"
        [displayedColumns]="displayedColumns"

        >

      </app-courses-list>

      <mat-paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="totalElements"
        (page)="loadData($event)" [pageSizeOptions]="[2,5, 10, 20]"
        showFirstLastButtons="true"></mat-paginator>

    </mat-card-content>

  <ng-template #loading>
    <div class="loafing-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
