mat-card {
  max-width: 80%;
  justify-content: center;
  margin: 2em auto;
  text-align: center;
}
.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

mat-card-header {
  padding: 0px;
  background-color: rgb(156, 39, 176);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-card-title {
  align-items: center;
  justify-content: center;
}

.loafing-spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(156, 39, 176, 0.03);
}


button {
  align-content: flex-end;
  margin: 10px 20px;
}
