<mat-card>
  <mat-card-header color="primary">
    <mat-card-title>Courses Available</mat-card-title>
    <button mat-mini-fab aria-label="Adicionar curso" color="accent">
      <mat-icon (click)="onAdd()">add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <app-courses-list class="column-flex mat-elevation-z8" *ngIf="courses$ | async as courses; else loading"
      [courses]="courses" (edit)="onEdit($event)" (remove)="onDelete($event)">
    </app-courses-list>

    <ng-template #loading>
      <div class="loafing-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
