
::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: transparent !important;
  --mdc-snackbar-supporting-text-color: transparent !important;
  --mat-snack-bar-button-color: transparent !important;
  margin: 8px !important;

  position: static !important;
  border-radius: 4px;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: white !important;
}

.mat-mdc-simple-snack-bar .ng-star-inserted {
  background-color: green !important;
}

.success-snackbar {
  background-color: green !important;
  color: white !important;
  font-size: 16px !important;
  border-radius: 8px !important;
  --mdc-snackbar-container-shape: 4px !important;

}

.mdc-snackbar.mdc-snackbar--open.ng-trigger.ng-trigger-state.error-snackbar.ng-star-inserted {
  background-color: red !important;
  color: white !important;
  font-size: 16px !important;
  border-radius: 8px !important;
  --mdc-snackbar-container-shape: 4px !important;
}
